.post__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 872px;
    border: 1px solid rgba(0, 47, 52, 0.2);
    border-radius: 5px;
    margin-bottom: 50px;
}

.post__container>h6 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #002f34;
    padding: 24px 30px 16px 30px;
    margin: 0;
}

input {
    outline: none;
}

.post__changeCategory {
    width: 100%;
    font-size: 14px;
    padding: 0 0 10px 30px;
    border-bottom: 1px solid rgba(0, 47, 52, 0.2);
}

.post__changeCategory>span {
    font-size: 13px;
}

.post__changeCategory>span~span {
    margin-left: 10px;
    font-weight: 600;
    color: #002f34;
    border-bottom: 2px solid #002f34;
    cursor: pointer;
}

.post__details {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px 0 0 30px;
}

.post__details>h5 {
    font-size: 20px;
    font-weight: 600;
    color: #002f34;
}

.post__price {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    padding: 35px 0 25px 30px;
    border-bottom: 1px solid rgba(0, 47, 52, 0.2);
    border-top: 1px solid rgba(0, 47, 52, 0.2);
}

.post__price>h5 {
    font-size: 20px;
    font-weight: 600;
    color: #002f34;
}

.post__price>input {
    width: 52%;
}

.post__photo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 30px 30px;
    border-bottom: 1px solid rgba(0, 47, 52, 0.2);

}

.post__photo>h5 {
    font-size: 20px;
    font-weight: 600;
    color: #002f34;
}
.post__photo > div {
    width: 50%;
}


.post__location {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0 30px 30px;
    border-bottom: 1px solid rgba(0, 47, 52, 0.2);
}
.post__location > h5 {
    font-size: 20px;
    font-weight: 600;
    color: #002f34;
    padding-bottom: 10px;
} 
.post__location > div {
    width: 50%;
}


.post__userDetails {
    display: flex;
    flex-direction: column;
    width: 53.5%;
    padding: 10px 0 30px 30px;
}

.post__userDetails>h5 {
    font-size: 20px;
    font-weight: 600;
    color: #002f34;
}

.post__userDetails>h5~div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post__userDetails>h5~div>img~div {
    display: flex;
    flex-direction: column;
}

.post__userPhoto {
    width: 100px;
    height: 100px;
}

.post__button {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0 30px 30px;
    border-top: 1px solid rgba(0, 47, 52, 0.2);
}

.post__button>button {
    width: max-content;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #045f6a;
    border-radius: 5px;
}