.allChat{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-top: 10px;
    row-gap: 10px;
    overflow-y: scroll;
}

.allChat__container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.193);
    border-radius: 7px;
    width: 100%;
    transition: ease-in 0.15s;
    cursor: pointer;
    
}
.allChat__container:hover {
    background-color: rgb(233, 233, 233);
    transition: ease-in 0.15s;
}
.allChat__text {
    margin: 0;
}